
{erl_opts, [
    bin_opt_info,
    warn_unused_vars,
    warn_export_all,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_bif_clash,
    warn_unused_record,
    warn_deprecated_function,
    warn_obsolete_guard,
    strict_validation,
    warn_export_vars,
    warn_exported_vars,
    warn_untyped_record
]}.
{clean_files, ["test/*.beam", ".eunit/*"]}.
{cover_enabled, true}.

{deps, [
    {ranch, ".*", {git, "https://github.com/ninenines/ranch.git"}},
    {cowboy, ".*", {git, "https://github.com/ninenines/cowboy"}},
    {esqlite, ".*",{git, "https://github.com/Shaienn/esqlite.git"}},
    {sync, ".*", {git, "git://github.com/rustyio/sync.git"}}
    ]}.

